*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --container: 1170px;
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: normal;
  font-weight: 400;
}

.hero {
  width: 100%;
  min-height: 100vh;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 100px 0;
  &__caption {
    width: calc(25% - 40px);
    margin: 0 20px;
    list-style-type: none;
    font-weight: 900;
    color: #007744;
    padding: 12px 20px;
    text-align: center;
  }
  &__cell {
    width: calc(25% - 40px);
    margin: 0 20px;
    background-color: #f0f2f5;
    list-style-type: none;
    min-height: 150px;
    box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  &__card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    min-height: 100%;
    cursor: all-scroll;
    &-header {
      font-weight: 700;
      padding: 12px 20px;
      background-color: #007744;
      color: #ffffff;
    }
    &-info {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      padding: 12px 20px;
      font-size: 14px;
    }
  }
}

.hide {
  display: none;
}

.hovered {
  background-color: #d1d8e2;
}

// .section {
//   padding: 80px 0px;
//   &-header {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: flex-start;
//     &__title {
//       font-size: 2rem;
//     }
//   }
//   &-grid {
//     display: grid;
//   }
// }

// .hero {
//   &-list {
//     display: grid;
//     gap: 20px 50px;
//     grid-template-columns: repeat(4, 1fr);
//     grid-template-rows: 200px;
//   }
// }

// .hide{
//     display: none;
// }
// ._active {
//   background-color: #000;
// }
